<div>
    <div class="col-xs-12 col-dashboard-grid space-bottom">
        <h4 style="display: inline;">Legend</h4>
    </div>
    <div class="col-xs-12 col-md-4 col-dashboard-grid">
        <div class="col-xs-12 col-dashboard-grid space-bottom">
            <div class="col-xs-6 col-dashboard-grid">
                <div class="controller-direction-button text-center text-white">
                    <i class="fa fa-2x fa-caret-up icon-center-50"></i>
                </div>
            </div>
            <div class="col-xs-6 col-dashboard-grid">Up</div>
        </div>
        <div class="col-xs-12 col-dashboard-grid space-bottom">
            <div class="col-xs-6 col-dashboard-grid">
                <div class="controller-direction-button text-center text-white">
                    <i class="fa fa-2x fa-caret-left icon-center-50"></i>
                </div>
            </div>
            <div class="col-xs-6 col-dashboard-grid">Left</div>
        </div>
        <div class="col-xs-12 col-dashboard-grid space-bottom">
            <div class="col-xs-6 col-dashboard-grid">
                <div class="controller-direction-button text-center text-white">
                    <i class="fa fa-2x fa-caret-right icon-center-50"></i>
                </div>
            </div>
            <div class="col-xs-6 col-dashboard-grid">Right</div>
        </div>
        <div class="col-xs-12 col-dashboard-grid space-bottom">
            <div class="col-xs-6 col-dashboard-grid">
                <div class="controller-direction-button text-center text-white">
                    <i class="fa fa-2x fa-caret-down icon-center-50"></i>
                </div>
            </div>
            <div class="col-xs-6 col-dashboard-grid">Down</div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4 col-dashboard-grid">
        <div class="col-xs-12 col-dashboard-grid space-bottom">
            <div class="col-xs-6 col-dashboard-grid">
                <div class="controller-button controller-shutdown text-center text-white">
                    <i class="fa fa-2x fa-power-off icon-center-50"></i>
                </div>
            </div>
            <div class="col-xs-6 col-dashboard-grid">
                <div class="col-xs-12 col-dashboard-grid">Power Off</div>
                <div class="col-xs-12 col-dashboard-grid">(Esc)</div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4 col-dashboard-grid">
        <div class="col-xs-12 col-dashboard-grid space-bottom">
            <div class="col-xs-6 col-dashboard-grid">
                <div class="controller-button controller-takeoff text-center text-white">
                    <i class="fa fa-paper-plane icon-center"></i>
                </div>
            </div>
            <div class="col-xs-6 col-dashboard-grid">
                <div class="col-xs-12 col-dashboard-grid">Take Off</div>
                <div class="col-xs-12 col-dashboard-grid">(Pg Up)</div>
            </div>
        </div>
        <div class="col-xs-12 col-dashboard-grid space-bottom">
            <div class="col-xs-6 col-dashboard-grid">
                <div class="controller-button controller-reverse text-center text-white">
                    <i class="fa fa-step-backward icon-center"></i>
                </div>
            </div>
            <div class="col-xs-6 col-dashboard-grid">
                <div class="col-xs-12 col-dashboard-grid">Reverse</div>
                <div class="col-xs-12 col-dashboard-grid">(Ctrl)</div>
            </div>
        </div>
        <div class="col-xs-12 col-dashboard-grid space-bottom">
            <div class="col-xs-6 col-dashboard-grid">
                <div class="controller-button controller-forward text-center text-white">
                    <i class="fa fa-step-forward icon-center"></i>
                </div>
            </div>
            <div class="col-xs-6 col-dashboard-grid">
                <div class="col-xs-12 col-dashboard-grid">Forward</div>
                <div class="col-xs-12 col-dashboard-grid">(Space)</div>
            </div>
        </div>
        <div class="col-xs-12 col-dashboard-grid space-bottom">
            <div class="col-xs-6 col-dashboard-grid">
                <div class="controller-button controller-land text-center text-white">
                    <i class="fa fa-paper-plane fa-rotate-90 icon-center-rotated"></i>
                </div>
            </div>
            <div class="col-xs-6 col-dashboard-grid">
                <div class="col-xs-12 col-dashboard-grid">Land</div>
                <div class="col-xs-12 col-dashboard-grid">(Pg Down)</div>
            </div>
        </div>
    </div>
</div>
